.App {
  text-align: center;
}

img {
  max-width: 800px;
  max-height: 600px;
}

ul {
  list-style-type: none;
}

.products-list {
  padding: 3rem;
}

.products-container {
  padding: 2rem;
}

.productTitle.p {
  font-weight: bold;
  font-size: 2rem;
}

.create-product-form {
  padding: 3rem;
  margin: 2rem;
  border: solid;
}
