.App {
  text-align: center;
}

.App-body {
  padding: 2rem;
}

.App-header {
  padding: 2rem;
}

.products-container img {
  width: 23rem;
  height: 15rem;
  padding: 1rem;
  border: solid;
  margin: 1rem;
}

.products-container ul {
  list-style-type: none;
}

.products-container {
  padding: 3rem;
}

.create-product-form {
  padding: 3rem;
}

.buttons {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productDetails img {
  max-width: 800px;
  max-height: 600px;
}

.commentsList li {
  list-style-type: none;
}
